<Jumbo>
  <h2>About Spooky Rentals</h2>
  <p>
    The Spooky Rentals website is a place to list your unique rentals.
    A perfect place to generate interest in a haunted house or scary apartment.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>
